// BASIC
$black: #0A0A0D;
$white: #FFF;

// YELLOW
$yellow: #F8C231;
$yellow-light: #F8C231;

// RED
$red: #FF445E;
$red-light: #FFC5CF;
$pink: rgba(255, 90, 209, 0.9);
$pink-light: rgba(255, 233, 250, 1);

// GREEN
$green: rgba(0, 187, 131, 0.8);
$green-light: #BEFFEC;

// BLUE
$blue: rgba(5, 96, 255, 0.8);
$blue-light: #B7F2FF;
$purple: rgba(77, 62, 255, 0.9);

// ORANGE
$orange: rgba(255, 105, 40, 0.8);
$orange-light: #FFE5D7;

// TEXT
// LIGHT THEME
$light-primary-text: #22242C;
$light-gray-text: rgba(74, 87, 111, 0.7);
$light-gray-100-text: rgba(48, 52, 77, 0.2);
// DARK THEME
$dark-primary-text: #ECEDEE;
$dark-gray-text: rgba(114, 120, 136, 0.6);
$dark-gray-100-text: rgba(255, 255, 255, 0.2);
